*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

h1{
    color: white;
    font-size: 50px;
    margin-left: 30px;
}

ul{
    list-style: none;
    margin: 0 auto;
    float: right;

}

 a{
 color: white;
 font-size: 30px;
 text-decoration: none;

}

.menu ul li{
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}

a:hover{
    color:grey;
}

.conteudo{
    margin-top: 20px;
}

h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

h4{
    margin-bottom: 10px;
}

#minhafoto{
    width: 500px;
    height: 700px;
    display: inline-block;
}

#cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    background-color:grey;
    padding: 15px;
}
.card {
    display: inline-block;
    margin: 20px; 
    text-align: center;
    border: solid black;
    border-radius: 3px;
    padding: 30px;
}

#cont a:hover{  
  color: black;
}

.card p{
    font-size: large;
}

#imagem{
    border: none;
    padding: 0;
    margin: 0;
}

#Trabalhos img{
   height: 400px;
   width: 400px;
   margin-top: 20px;
}


.rodape{
    text-align: center;
    background-color: black;
    color: white;
    font-size: large;
    margin-top: 15px;
    padding: 20px;
}

h6{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
h7{
    font-size: 40px;
}
.work{
    margin-left: 20px;
    display: inline-block;
    width: 70vw;
}

.work p{
    font-size: 20px;
}
iframe{
    margin: 20px;
}
b{
    margin-bottom: 30px;
}

.work a{
    font-size: 20px;
    color: blue;
}

.lipt p{
margin-bottom: 15px;
margin-top: 30px;
}

.lipt{
    margin-top: 30px;
    margin-bottom: 30px;
    border: grey solid;
    border-radius: 6px;
    padding: 10px;
}

.sobreM{
    background-color: rgb(226, 222, 222);
    margin: 0 250px;   
    padding-left: 100px;
    padding-right: 100px ;
    padding-bottom: 20px;
}

.sobreM p{
    font-size: 20px;
    margin: 5px;
}

.sobreM img{
    margin: 8px;
}

.sobreM a{
    color: black;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    
}
.sobreM a:hover{
    color: blue;
}

#Sobremim p{
    margin-bottom:20px;
}

#Videos p{
    margin-bottom: 20px;
}

#Videos img{
    max-width: 100%;
}



/* Responsividade do site */

@media screen and (max-width: 1400px){

  #cont{
      display: block;
  }
  .card{
      vertical-align: center;
      display: flex;
      text-align: center;
  }

  img{
      display: none;
  }

  *{
      margin: 20px 20px;
  }

}



